<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - INSTASAMO4KA</title>
    <style>
        button {
            color: #d64161;
            font-size: 3em;
            margin-left: 10px;
            text-decoration: none;
        }

        nav h1 {
            color: #d64161;
            font-size: 8em;
            margin-top: 50px;
            margin-left: 10px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <h1>Инстасамо4ка</h1>
        <button onclick="location.href='http://127.0.0.1:5000/songs/'" type="button">
         INSTASAMKA'S SONG</button>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>